<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
	<div class="w3-responsive w3-container">
		<div class="w3-card-4">
			<div class="w3-container w3-teal">
		    	<h2>Please Log In</h2>
		  	</div>
		  	<form class="w3-container" action="" method="POST">
		    	<p>      
		    		<label class="w3-text-teal"><b>Username</b></label>
		    		<input class="w3-input w3-border w3-light-grey" name="username" value="" type="text">
		    	</p>
		    	<p>      
		    		<label class="w3-text-teal"><b>Password</b></label>
		    		<input class="w3-input w3-border w3-light-grey" name="password" value="" type="password">
		    	</p>
		    	<p>
		    		<input type="submit" class="w3-btn w3-teal" value="Log In" name="">
		    		<a href="/register" class="w3-btn w3-teal">Register</a>
		    	</p>
		  	</form>
		</div>
		<br>
		{% if error %}
			<div class="w3-panel w3-red">
	  			<h3>{{error}}</h3>
			</div> 
		{% endif %}
	</div>
</body>
</html>